.table-of-contents_nav__YwH1k {
  --toc-text:#18190f;
  --toc-text-inactive:#18190f80
}
.table-of-contents_nav__YwH1k ul {
  list-style:none;
  padding:0 1em 1em;
  margin:0
}
.table-of-contents_link__b3qt_ {
  color:var(--toc-text-inactive);
  transition:color .2s ease
}
.table-of-contents_active__GNjO5,.table-of-contents_link__b3qt_:hover {
  color:var(--toc-text)
}
.link_link__db9uP {
  position:relative
}
.link_link__db9uP:after {
  content:"";
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:.055em;
  bottom:calc(-1*var(--height));
  left:0;
  background-color:currentcolor;
  transform-origin:bottom right;
  transition:transform .2s ease-out
}
.link_link__db9uP:hover:after {
  transform:scaleX(1);
  transform-origin:bottom left
}
.header_header-wrapper__3S3ls {
  z-index:var(--z-index-4);
  --tw-text-opacity:1;
  color:rgb(23 25 15/var(--tw-text-opacity,1));
  isolation:isolate;
  position:fixed;
  top:0;
  width:100%;
  height:auto!important;
  pointer-events:none
}
.header_header-wrapper__3S3ls.header_dark__GA_mv {
  --tw-text-opacity:1;
  color:rgb(255 255 255/var(--tw-text-opacity,1))
}
.header_header__w2BOs {
  width:100%;
  position:relative;
  display:flex;
  justify-content:space-between;
  z-index:1
}
@media (min-width:1024px) {
  .header_header__w2BOs {
  align-items:start;
  padding-left:0;
  padding-right:0
}

}
.header_header-menu-color-transition__1qECW {
  transition-property:background-color,color;
  transition-duration:.3s,.35s;
  transition-timing-function:cubic-bezier(0,0,.2,1),cubic-bezier(0,0,.2,1)
}
.header_logo__9b1Md,.header_menu-icon__qpdmJ {
  position:relative;
  padding:8px;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  height:var(--header-height);
  width:var(--header-height);
  border-width:1px;
  border-color:#0000001a;
  background-color:#faf4f2cc;
  --tw-backdrop-blur:blur(16px);
  -webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.header_dark__GA_mv .header_logo__9b1Md,.header_dark__GA_mv .header_menu-icon__qpdmJ {
  border-color:#ffffff1a;
  background-color:#18190fcc
}
.header_menu-icon__qpdmJ {
  justify-content:end!important;
  width:auto
}
@media (min-width:1024px) {
  .header_menu-icon__qpdmJ {
  display:none
}

}
.header_nav-menu-content__2NWng {
  width:100%
}
.header_nav-menu-addon___PUv_ {
  position:relative;
  overflow:hidden;
  display:flex;
  align-items:end;
  height:0;
  border-color:#0000001a;
  background-color:#e8ded8cc;
  --tw-backdrop-blur:blur(16px);
  -webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.header_nav-menu-addon___PUv_:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:1px;
  z-index:-1;
  background-color:#0000001a
}
.header_dark__GA_mv .header_nav-menu-addon___PUv_ {
  border-color:#ffffff1a;
  background-color:#252618cc
}
.header_dark__GA_mv .header_nav-menu-addon___PUv_:before {
  background-color:#ffffff1a
}
[data-state=open] .header_nav-menu-addon___PUv_ {
  animation-name:header_addon-in__Ibcmv;
  animation-duration:var(--addon-animation-duration);
  animation-delay:calc(var(--submenu-animation-duration)*.5);
  animation-timing-function:var(--ease-out-quint);
  animation-fill-mode:forwards
}
[data-state=closed] .header_nav-menu-addon___PUv_ {
  animation-name:header_addon-out__yDVtz;
  animation-duration:calc(var(--addon-animation-duration)*.5);
  animation-timing-function:var(--ease-out-quint);
  animation-fill-mode:forwards
}
.header_nav-menu-viewport__pPGBF[data-state=open] {
  animation-name:header_submenu-in__f2_ZG;
  animation-duration:var(--submenu-animation-duration,.3s);
  animation-timing-function:var(--ease-out-quint);
  animation-fill-mode:forwards
}
.header_nav-menu-viewport__pPGBF[data-state=closed] {
  animation-name:header_submenu-out__dvMOz;
  animation-duration:var(--submenu-animation-duration,.3s);
  animation-timing-function:var(--ease-out-quint);
  animation-fill-mode:forwards
}
.header_has-addon__B4DA0 .header_nav-menu-viewport__pPGBF[data-state=open] {
  animation-delay:calc(var(--addon-animation-duration)*.5)
}
@keyframes header_addon-in__Ibcmv {
  0% {
  height:0
}
to {
  height:var(--addon-height)
}

}
@keyframes header_addon-out__yDVtz {
  0% {
  height:var(--addon-height)
}
to {
  height:0
}

}
@keyframes header_submenu-in__f2_ZG {
  0% {
  height:0
}
to {
  height:var(--radix-navigation-menu-viewport-height)
}

}
@keyframes header_submenu-out__dvMOz {
  0% {
  height:var(--radix-navigation-menu-viewport-height)
}
to {
  height:0
}

}
